<div class="relative">
    <button class="ml-auto block focus:outline-none hover:underline" onClick="getId('edit-menu-{{post.id}}')">Edit Post</button>
    <div id="edit-menu-{{post.id}}" class="border rounded-lg p-4 absolute right-0 shadow-lg bg-gray-400 z-10" style="display: none;">
        <div>
            <form action="/editPost/{{ post.id }}">
                <div class="w-full flex">
                    <button type="submit" class="text-white rounded text-gray-800 m-3 w-full hover:underline w-full focus:outline-none">Edit Post</button>
                </div>
            </form>	
        </div>
        <div>
            <form action="/deletePost/{{ post.id }}" method="POST">
                <input type="hidden" name="method" value="DELETE">
                <input type="hidden" name="id" value="{{ post.id }}">
                <div class="w-full flex">
                    <button type="submit" class="text-white rounded text-gray-800 m-3 w-full hover:underline w-full focus:outline-none">Delete Post</button>
                </div>
            </form>
        </div>	
    </div>
</div>