{% extends "layouts/master-layout.html" %}

{% block content %}

<div class="m-auto w-full">
  {% if posts %}
    {% for post in posts %}
      {{ post['title'] }} <br>
      {{ post['body'] }} <br>
    {% endfor %}
  {% endif %}  
</div>
{% endblock  %}

{% block sidebar %}
<div class="m-auto w-full">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, aspernatur, vel doloremque, obcaecati illo autem nobis tenetur est consectetur quaerat soluta veniam eveniet ad. Quasi, quidem repudiandae? Iure, perferendis fugit.
  <ul>
    
  </ul>  
</div>
{% endblock %}