{% extends "layouts/admin/admin-layout.html" %}
{% block title %}
    <title>Edit User</title>
{% endblock title %}
{% block scripts %}
<script src="https://cdn.tiny.cloud/1/rjop1kl90me77vjkt7io6nipc63kscevcbgfe70vj2h878zx/tinymce/5/tinymce.min.js" referrerpolicy="origin">
</script>
{% endblock scripts %}
    


{% block main_content %}
<div class="container p-5">
    {% if msgOldPwd %}
        <div class="bg-red-200 colr-red-600 p-5 rounded-lg">
          <span class="px-3 text-red-600">Current password is not correct!</span>
        </div>
    {% endif %}
    {% if msgNewPwd %}
        <div class="bg-red-200 colr-red-600 p-5 rounded-lg">
          <span class="px-3 text-red-600">New password have less then 4 character!</span>
        </div>
    {% endif %}
    <form action="/updateUser/{{ user.id }}" method="POST" enctype="multipart/form-data">
        <div>
			<input type="hidden" name="id" value="{{ user.id }}">
            <div class="w-full text-center">
                <div class="text-3xl mb-5">
                    <label for="title">Name</label>
                </div>
                <div>
                    <input class="w-full p-3 mb-5 border" type="text" name="username" value="{{ user.name }}">
                </div>
			</div>
			<div class="w-full text-center">
                <div class="text-3xl mb-5">
                    <label for="title">Email</label>
                </div>
                <div>
                    <input class="w-full p-3 mb-5 border" type="text" name="email" value="{{ user.email }}">
                </div>
			</div>
			<div class="w-full text-center">
                <div class="text-3xl mb-5">
                    <label for="title">Current Password</label>
                </div>
                <div>
                    <input class="w-full p-3 mb-5 border" type="password" name="old-password">
                </div>
			</div>
			<div class="w-full text-center">
                <div class="text-3xl mb-5">
                    <label for="title">New Password</label>
                </div>
                <div>
                    <input class="w-full p-3 mb-5 border" type="password" name="new-password">
                </div>
            </div>

            {% if admin %}
            <div class="w-full text-center mb-10">
                <select name="role" required class="text-2xl">
                    <option disabled selected>Please Select Role</option>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            {% endif %}

            <div class="flex justify-between mb-10 p-3">
                <div class="w-1/3 md:h-48 md:w-56 h-24 w-24 rounded-full overflow-hidden mb-10 mr-10 mt-auto mb-auto">
                    <img class="w-full h-full object-cover avatar" data-tippy-content="{{ post.user.name }}" src="https://source.unsplash.com/collection/10865343" alt="{{ post.user.name }}" tabindex="0">
                </div>
                <div class="w-2/3 ml-auto w-full text-left mb-10 text-2xl mt-auto mb-auto p-3 overflow-hidden">
                    <div class="mb-10">
                        <label>Upload Image</label>
                    </div>
                    <div class="overflow-hidden text-sm">
                        <input type="file" name="image">
                    </div>
                </div>
            </div>
        </div> 
        <div class="w-full flex">
            <button type="submit" class="text-white bg-green-600 rounded p-3 m-3 w-1/4 hover:bg-green-500 w-full" name="submit">Update User</button>
		</div>
	</form>
	<div class="flex w-full">
		<form action="/deleteUser/{{ user.id }}" method="POST" class="w-full flex">
			<input type="hidden" name="method" value="DELETE">
			<input type="hidden" name="id" value="{{ user.id }}">
			<button class="text-white bg-red-600 rounded p-3 m-3 w-1/4 hover:bg-red-500 w-full">Delete User</button>
		</form>
	</div>
</div>
{% endblock main_content %}
{% block footer_scripts %}
<script>
    tinymce.init({
      selector: 'textarea'
    });
  </script>
  {{ parent() }}
{% endblock footer_scripts %}
