{% extends "homepage.html" %}
{% block scripts %}
   {{ parent() }}
    {% endblock scripts %}
{% block body_content %}
{% block header_image %}
<div class="w-full m-0 p-0 bg-cover bg-bottom mt-40">
{% endblock header_image %}

{% block header_title %}
<div class="container max-w-4xl mx-auto pt-16 md:pt-5 text-center break-normal ">
	 <!--Title-->
	 <!-- edit button -->
<div>
	{% if (admin) or (user.id == userModel.id) %}
		<a href="/editUser/{{ user.id }}">Edit User</a>
	{% endif %}
</div>
	<!-- end of edit button -->
     <div class="text-xl md:text-6xl text-gray-700">
		 <div class="">
			<div class="mb-20">
				{{ user.name }}
			 </div>
			 <div class="text-sm text-left flex">
				 <div class="h-16 w-16 rounded-full overflow-hidden mr-4">
				 	<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="{{ user.name }}" src="/{{ user.image }}" alt="Avatar of Author">
				 </div>
			</div>

			 {% for post in posts %}
				 <a href="/posts/{{post.id}}">{{ post.title }}</a>
			 {% endfor %}
			 <div class="mt-auto">
				{{ user.email }}
			 </div>
			
		 </div>
		 <hr class="mt-10">
     </div>

 {% endblock header_title %}
 <div class="mt-20 p-5">

	{% autoescape %}
		<div class="text-lg">
		{{ post.body|raw }}
		</div>

	{% endautoescape %}
	</div>
</div>



{% block footer_scripts %}
{% include "components/edit-post-button-functions.html" %}
<script>
	//Init tooltips
	tippy('.avatar')
	</script>
	{{ parent() }}
{% endblock footer_scripts %}
	
{% endblock body_content %}