{% extends "homepage.html" %}
{% block body_content %}
{% block header_image %}
<div class="w-full m-0 p-0 bg-cover bg-bottom mt-40">
{% endblock header_image %}

{% block header_title %}
<div class="container max-w-4xl mx-auto pt-16 md:pt-5 text-center break-normal ">
     <!--Title-->
     <p class="text-xl md:text-6xl text-gray-700">
		 {{ post.title }}
     </p>

 {% endblock header_title %}
 <div class="mt-20 p-5">

{% autoescape %}
<div class="text-lg">
	{{ post.body|raw }}
</div>

{% endautoescape %}
</div>
{{ post.user.name }}

<h3>Comments section</h3>


{% for comment in comments %}
	<li>{{ comment.body }}</li>
	{{ comment.user.name }}
	{{ comment.createdAt|date('d.m.Y H:i') }}

	<form action="/editComment/{{ comment.id }}">
		<button type="submit">Edit Comment</button>
	</form>

	<form action="/deleteComment/{{ comment.id }}" method="POST">
		<input type="hidden" name="method" value="DELETE">
		<input type="hidden" name="id" value="{{ commment.id }}">
		<button type="submit">Delete Comment</button>
	</form>
{% endfor %}

{% include "comments/comment-create.html" %}


<form action="/editPost/{{ post.id }}">
	<div class="w-full flex">
		<button type="submit" class="text-white bg-blue-600 rounded p-3 m-3 w-1/4 hover:bg-green-500 w-full">Edit Post</button>
	</div>
</form>

<form action="/deletePost/{{ post.id }}" method="POST">
	<input type="hidden" name="method" value="DELETE">
	<input type="hidden" name="id" value="{{ post.id }}">
	<div class="w-full flex">
		<button type="submit" class="text-white bg-red-600 rounded p-3 m-3 w-1/4 hover:bg-green-500 w-full">Delete Post</button>
	</div>
</form>

{% block footer_scripts %}
	{{ parent() }}
{% endblock footer_scripts %}
	
{% endblock body_content %}